@tailwind base;
@tailwind components;
@tailwind utilities;
/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body,
html {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  @apply hidden;
}

/* Custom layers */
@layer components {
  .text-shadow {
    text-shadow: 4px 5px 2px rgba(0, 0, 0, 0.3);
  }

  .text-info {
    @apply text-xl border-b-2 border-gray-400 pb-1 mb-2;
  }

  .weather-list {
    @apply mt-[1.32rem] text-lg flex justify-between items-center;
  }

  .wrapper {
    @apply max-w-[1440px] mx-auto px-2 relative;
  }
}

/* Background image animate */

.backgroundAnimate {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}

/* Responsive */

@media (max-width: 1440px) {
  .weather__content{
    @apply flex-col;
  }

  .weather__map{
    @apply mt-4;
  }

  .weather__regions{
    @apply max-w-full;
  }

  .weather__details{
    @apply w-full;
  }
}

@media(max-width: 420px) {
  .weather__uzbekistan{
    @apply -mt-48;
  }
}